body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    background-image: url('https://res.cloudinary.com/justinlf55/image/upload/v1580419111/game-background_w98kes.png');
    background-size: cover;
}