body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: whitesmoke;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#game-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    display: none;
    background-image: url('https://res.cloudinary.com/justinlf55/image/upload/v1580419111/game-background_w98kes.png');
    background-size: cover;
}

#game-canvas:hover {
    cursor: url('https://res.cloudinary.com/justinlf55/image/upload/v1583124183/crosshair_ttjkwa.jpg');
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 50px;
    background: #FF00FF;
    border: whitesmoke solid 2px;
    border-radius: 2px;
    width: 25%;
    height: 70%;
}

#menu > h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-top: 10%;
}

#start-button {
    width: 85%;
    border: whitesmoke solid 2px;
    background: #FF00FF;
    margin: 10px;
}

#start-button > h1 {
    border: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#start-button:hover{
    cursor: pointer;
}


#footer {
    position: absolute;
    bottom: 4%;
}

#footer > a {
    font-size: 40px;
    color: white;
    margin: 10px;
}

#footer > a:hover {
    color: #FF00FF;
}